

.top_section{
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	padding-top: 1em;
	background-color: var(--secondary-color);
	color: var(--main-color);
	z-index: 2;
}

.top_section_text{
	max-width: var(--max-width);
	min-width: var(--min-width);
	margin-left: auto;
	margin-right: auto;
}

.nav_bar_div{
	line-height: 3em;
  	text-align: center;
}

.nav_bar{
	padding:0;
    list-style-type: none;
	text-align:center;
}

.nav_bar li{
	display:inline;
	text-align: center;
	margin:0;
	
}

.nav_bar_a {
	display: inline-block; /* ✅ Ensures proper spacing */
	padding: 0.5px 10px; /* ✅ Adjust for better spacing */
	border-radius: 2em;
	transition: background-color 0.25s;
  }
  

.nav_bar_a:hover{
	color: var(--main-color);
	text-decoration: none;
	background-color: var(--secondary-color-hover);
}


.nav_bar_a:link{
	color:var(--main-color);
}

.nav_bar_a:visited{
	color:var(--main-color);
}

.nav_bar_a:active{
	text-decoration: none;
	color: var(--secondary-color);
	background-color: var(--main-color);
	
	animation-duration: 0.1s;
	animation-name: nav_bar_click;
}

@keyframes nav_bar_click {
	from{
		background-color: var(--secondary-color);
		color: var(--main-color);
	}

	to{
		color: var(--secondary-color);
		background-color: var(--main-color);
	}
}

@media only screen and (max-width:500px){
	.nav_bar_div{
		line-height: 2em;
	}
	

	.top_section_text{
		margin-left: 2em;
		margin-right: 2em;
	}

	.nav_bar li{
		display:inline;
		text-align: center;
		margin:0;
		white-space: nowrap;
		font-size: 110%;
	}
}