.overlay {
	position: fixed;
	z-index: 10;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(0 0 0 / 0.6);
	padding: 2.5rem;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-radius: 0.75rem;
	filter: drop-shadow(0 0 0.75rem black);
	/* width: 40%; */
}

@media (max-width: 768px) {
	/* .wrapper {
		width: 66.667%;
	} */
}

@media (max-width: 640px) {
/* 	.wrapper {
		width: 83.333%;
	} */
}